@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .green-button {
    @apply px-6 py-3 bg-[#8FFF00] text-black rounded-md font-bold transition-all duration-300 inline-block;
  }
  .green-button:hover {
    @apply shadow-[0_0px_20px_0px_rgba(143,255,0,1)];
  }
  .box-1 {
    @apply mx-auto px-6 py-8 md:px-8 md:py-16   xl:px-48 xl:py-20;
  }
}

.bebas {
  font-family: var(--font-bebas);
}
.h1bebas {
  font-size: clamp(48px, 5vw, 56px);
  line-height: clamp(3rem, 5vw, 3.5rem);
}
.h2bebas {
  font-size: clamp(40px, 5vw, 48px);
  line-height: clamp(2.5rem, 5vw, 3.5rem);
}
.h3bebas {
  font-size: clamp(32px, 5vw, 40px);
  line-height: clamp(2.5rem, 5vw, 3.5rem);
}
.h4bebas {
  font-size: clamp(24px, 5vw, 32px);
  line-height: 4rem;
}
.h5bebas {
  font-size: clamp(20px, 5vw, 24px);
  line-height: 4rem;
}
.h6bebas {
  font-size: clamp(18px, 5vw, 20px);
  line-height: 4rem;
}

h1 {
  font-size: clamp(48px, 5vw, 56px);
 
}
h2 {
  font-size: clamp(40px, 5vw, 48px);
}
h3 {
  font-size: clamp(32px, 5vw, 40px);
}
h4 {
  font-size: clamp(24px, 5vw, 32px);
}
h5 {
  font-size: clamp(20px, 5vw, 24px);
}
h6 {
  font-size: clamp(18px, 5vw, 20px);
}

/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*/
